.subtitulo{
    
    font-size: 20px;
    position: relative;
    left: 20px;
   
    color: rgb(125, 58, 180);}


    .titulo{
      font-size: 700px;
      text-align: left;
      color: rgb(0, 0, 0);}


  header {
    background-color: rgba(109, 92, 185, 0.719);
    padding: 20px;}
    

  body {
    background-image: linear-gradient(45deg, white , rgb(109, 92, 185, 0.719) 80%);
    text-indent:20px ;}
   
  p{
    position: relative;
    left: 40px;
    text-align: justify;}

  ul{
    position: relative;
    left: 20px;}

  a{
    position: relative;
    left: 40px;}
  
  .imagem{
    display: flex;}
  .ruan{
    position: relative;
    right: 20px;
  }

br {position: relative;}



